
@model Tuple<AutomatedEducationProgram.Models.Note, IEnumerable<AutomatedEducationProgram.Models.VocabularyWord>, IEnumerable<AutomatedEducationProgram.Models.ExamQuestion>>
@{
    AutomatedEducationProgram.Models.Note note = Model.Item1;
    IEnumerable<AutomatedEducationProgram.Models.VocabularyWord> vocab = Model.Item2;
    IEnumerable<AutomatedEducationProgram.Models.ExamQuestion> questions = Model.Item3;
}

<html>
<head>
    <title>Edit Note</title>
</head>
<body>
    <h1>@note.Title's Contents</h1>
    <h2>Vocabulary Terms</h2>
    <table>
        <thead>
            <tr>
                <td>Word</td>
                <td>Definition</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in vocab)
            {
                <tr>
                    <td>@item.Term</td>
                    <td>@item.Definition</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <hr />
    <br />
    <h2>Exam Questions</h2>
    <table>
        <thead>
            <tr>
                <td>Question</td>
                <td>A</td>
                <td>B</td>
                <td>C</td>
                <td>D</td>
                <td>Explanation</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in questions)
            {
                <tr>
                    <td>@item.Question</td>
                    <td>@item.AnswerA</td>
                    <td>@item.AnswerB</td>
                    <td>@item.AnswerC</td>
                    <td>@item.AnswerD</td>
                    <td>@item.Explanation</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
