@model Tuple<AutomatedEducationProgram.Models.Note, IEnumerable<AutomatedEducationProgram.Models.VocabularyWord>, IEnumerable<AutomatedEducationProgram.Models.ExamQuestion>>
@{
    AutomatedEducationProgram.Models.Note note = Model.Item1;
    IEnumerable<AutomatedEducationProgram.Models.VocabularyWord> vocab = Model.Item2;
    IEnumerable<AutomatedEducationProgram.Models.ExamQuestion> questions = Model.Item3;
    int i = 1;
    int j = 1;
}

<html>
<head>
    <title>Edit Note</title>
</head>
<body>
    <form method="post" asp-controller="MyNotes" asp-action="EditNote">
        <label for="title">Note Title</label>
        <input type="text" name="title" value="@note.Title" />
        <label for="description">Note Description</label>
        <input type="text" name="description" value="@note.Description" />
        <h2>Vocabulary Terms</h2>
        <table>
            <thead>
                <tr>
                    <th><h2>Term</h2></th>
                    <th><h2>Definition</h2></th>
                </tr>
            </thead>
            <tbody>
                @foreach (AutomatedEducationProgram.Models.VocabularyWord word in vocab)
                {
                    <tr>
                        <td>
                            <label for="term @i">Term @i</label>
                            <input type="text" name="vocabTerm @i" value="@word.Term" />
                        </td>
                        <td>
                            <label for="term @i">Definition @i</label>
                            <input type="text" name="vocabDef @(i++)" value="@word.Definition" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <hr />
        <br />
        <h2>Exam Questions</h2>
        <table>
            <thead>
                <tr>
                    <td>Question</td>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                    <td>Explanation</td>
                </tr>
            </thead>
            <tbody>
                @foreach (AutomatedEducationProgram.Models.ExamQuestion question in questions)
                {
                    <tr>
                        <td>
                            <label for="question @j">Question @j</label>
                            <input type="text" name="question @j" value="@question.Question" />
                        </td>
                        <td>
                            <label for="a @j"></label>
                            <input type="text" name="a @i" value="@question.AnswerA" />
                        </td>
                        <td>
                            <label for="b @j"></label>
                            <input type="text" name="b @j" value="@question.AnswerB" />
                        </td>
                        <td>
                            <label for="c @j"></label>
                            <input type="text" name="c @j" value="@question.AnswerC" />
                        </td>
                        <td>
                            <label for="d @j"></label>
                            <input type="text" name="d @i" value="@question.AnswerD" />
                        </td>
                        <td>
                            <label for="explanation @j">Explanation @j</label>
                            <input type="text" name="explanation @(j++)" value="@question.Explanation" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" value="Save Changes" class="btn btn-primary" />
    </form>
</body>
</html>
