@page
@model AutomatedEducationProgram.Pages.Vocabulary.SaveVocabularyModel
@{
    ViewData["Title"] = "Home page";
}
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<style>
    body {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
        justify-content: center;
        align-items: center;
    }

    #rowAdder {
        margin-left: 17px;
    }




        .large-text-input {
            width: 750px;
        }

        .vocabulary-table {
            width: 100%;
            table-layout: fixed;
        }

        .term-cell {
            white-space: nowrap;
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 0;
        }

        .definition-cell {
            vertical-align: middle;
            word-break: break-word;
        }

        span.bold-term {
            font-weight: bold;
            display: inline;
            margin: 0;
            padding: 0;
            white-space: nowrap;
        }

        .centered-title {
            text-align: center;
        }

        .centered-content {
            text-align: center;
        }

        .card {
            margin: 1rem;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
            border-radius: 15px;
            background-color: #fff;
            padding: 1rem;
            &__content

        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            text-align: center;
            flex-grow: 0;
        }

        &__header {
            vertical-align: middle;
            word-break: break-word;
            text-align: center;
        }

        &__text {
            margin-bottom: auto;
            margin-bottom: 2rem;
        }
</style>
</head>


<body>
    @if (Model.ProcessedVocabulary != null)
    {
        <!-- Container for the two sections -->
        <div style="display: flex; justify-content: space-between;">
            <form method="post" asp-controller="Vocabulary" asp-action="SaveVocabulary">
                <label for="title">Note Title</label>
                <input type="text" name="title" value="" placeholder="My New Note"/>
                <label for="description">Note Description</label>
                <input type="text" name="description" value="" placeholder="My Note's Description"/>
                <label for="publicity">Publish?</label>
                <input type="checkbox" name="publicity" value="public" />
                <table>
                    <thead>
                        <tr>
                            <th><h2>Term</h2></th>
                            <th><h2>Definition</h2></th>
                            <th>.</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for (int i = 1; i <= Model.ProcessedVocabulary.Count; i++)
                    {
                            <tr id="row">
                                <td>
                                    <label for="term @i">Term</label>
                                    <input type="text" name="vocabTerm @i" value="@Model.ProcessedVocabulary[i - 1].Term" />
                                </td>
                                <td>
                                    <label for="term @i">Definition</label>
                                    <input class="large-text-input" type="text" name="vocabDef @i" value="@Model.ProcessedVocabulary[i - 1].Definition" />
                                </td>
                                <td>
                                    <button class="btn btn-danger"
                                            id="DeleteRow"
                                            type="button">
                                            X
                                    </button>
                                </td>
                            </tr>
                    }
                    </tbody>    
                </table>
                <div id="tableDiv">
                    <div id="newinput">
                    </div>
                </div>
                <button id="rowAdder" type="button" class="btn btn-dark">
                    <span class="bi bi-plus-square-dotted">
                    </span> Add Word
                </button>
                <input type="submit" value="Save New Note" class="btn btn-primary" />
                @if (!(Model.ExistingNotes == null || Model.ExistingNotes.Count == 0))
                {
                    <h1>Or, save to existing note</h1>
                    <select name="existingNotes">
                        @foreach (AutomatedEducationProgram.Models.Note note in Model.ExistingNotes)
                        {
                            <option value=@note.Id>@note.Title</option>
                        }
                    </select>
                    <input type="submit" name="submitButton" value="Merge To Existing Note" class="btn btn-primary" />
                }
            </form>
        </div>
    }

    <script type="text/javascript">
        let k = 1;
        $("#rowAdder").click(function () {
            newRowAdd =
                '<tr id="row">' +
                '<td>' +
                '<label for="term ' + k + '">Term</label>' +
                '<input type="text" name="newVocabTerm ' + k + '" value=""/>' +
                '</td>' +
                '<td>' +
                '<label for="term ' + k + '">Definition</label>' +
                '<input class="large-text-input" type="text" name="newVocabDef ' + k + '" value="" />' +
                '</td>' +
                '<td>' +
                '<button class="btn btn-danger" id = "DeleteRow" type = "button"> X </button>' +
                '</td>' +
                '</tr>';

            $('#newinput').append(newRowAdd);
            k++;
        });
        $("body").on("click", "#DeleteRow", function () {
            $(this).parents("#row").remove();
        })
    </script>
</body>

@section Scripts
    {

    }
