@page
@model EditNoteModel
@{
    AutomatedEducationProgram.Models.Note note = Model.CurrentNote;
    IEnumerable<AutomatedEducationProgram.Models.VocabularyWord> vocab = Model.Vocab;
    IEnumerable<AutomatedEducationProgram.Models.ExamQuestion> questions = Model.Questions;
    int i = 1;
    int j = 1;
}
<style>
    .large-text-input {
        width: 750px;
    }
</style>
<html>
<head>
    <title>Edit Note</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <form method="post" asp-controller="MyNotes" asp-action="EditNote">
        <label for="title">Note Title</label>
        <input type="text" name="title" value="@note.Title" />
        <label for="description">Note Description</label>
        <input type="text" name="description" value="@note.Description" />
        @if (!(vocab == null || vocab.Count() == 0))
        {
            <h2>Vocabulary Terms</h2>
            <table>
                <thead>
                    <tr>
                        <th><h2>Term</h2></th>
                        <th><h2>Definition</h2></th>
                        <th>.</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AutomatedEducationProgram.Models.VocabularyWord word in vocab)
                    {
                        <tr id="row">
                            <td>
                            <label for="term @i">Term</label>
                            <input type="text" name="vocabTerm @word.ID" value="@word.Term" />
                        </td>
                        <td>
                            <label for="term @(i++)">Definition</label>
                            <input class="large-text-input" type="text" name="vocabDef @word.ID" value="@word.Definition" />
                        </td>
                        <td>
                                <button class="btn btn-danger"
                                        id="DeleteRow"
                                        type="button">
                                    X
                                </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div id="tableDiv">
                <div id="newinputTerm">
                </div>
            </div>
            <button id="rowAdderTerm" type="button" class="btn btn-dark">
                <span class="bi bi-plus-square-dotted">
                </span> Add Word
            </button>
            <br />
            <hr />
            <br />
            }

            @if (!(questions == null || questions.Count() == 0))
            {
                <h2>Exam Questions</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Answer</th>
                            <th>.</th>
                            <!--                    <td>A</td>
                            <td>B</td>
                            <td>C</td>
                            <td>D</td>
                            <td>Explanation</td> -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AutomatedEducationProgram.Models.ExamQuestion question in questions)
                        {
                            <tr id="row">
                                <td>
                                    <label for="question @j">Question</label>
                                    <input type="text" name="question @question.Id" value="@question.Question" />
                                </td>
                                <td>
                                    <label for="Answer @j">Answer</label>
                                    <input class="large-text-input" type="text" name="genericAns @question.Id" value="@question.Answer" />
                                </td>
                                <!--            <td>
                                <label for="A @j"></label>
                                <input type="text" name="ansA @j" value="@question.AnswerA" />
                                </td>
                                <td>
                                <label for="B @j"></label>
                                <input type="text" name="ansB @j" value="@question.AnswerB" />
                                </td>
                                <td>
                                <label for="C @j"></label>
                                <input type="text" name="ansC @j" value="@question.AnswerC" />
                                </td>
                                <td>
                                <label for="D @j"></label>
                                <input type="text" name="ansD @j" value="@question.AnswerD" />
                                </td>
                                <td>
                                <label for="explanation @j">Explanation @j</label>
                                <input type="text" name="explanation @(j++)" value="@question.Explanation" />
                                </td> -->
                            <td>
                                <button class="btn btn-danger"
                                        id="DeleteRow"
                                        type="button">
                                    X
                                </button>
                            </td>
                            </tr>
                        }
                    </tbody>
            </table>
            <div id="tableDiv">
                <div id="newinputQuestion">
                </div>
            </div>
            <button id="rowAdderQuestion" type="button" class="btn btn-dark">
                <span class="bi bi-plus-square-dotted">
                </span> Add Question
            </button>
        }
        <input type="hidden" name="noteId" value=@note.Id />
        <input type="submit" value="Save Changes" class="btn btn-primary" />
    </form>

    <script type="text/javascript">
        let k = 1;
        let l = 1;
        $("#rowAdderTerm").click(function () {
            newRowAdd =
                '<tr id="row">' +
                '<td>' +
                '<label for="term ' + k + '">Term</label>' +
                '<input type="text" name="newVocabTerm ' + k + '" value=""/>' +
                '</td>' +
                '<td>' +
                '<label for="term ' + k + '">Definition</label>' +
                '<input class="large-text-input" type="text" name="newVocabDef ' + k + '" value="" />' +
                '</td>' +
                '<td>' +
                '<button class="btn btn-danger" id = "DeleteRow" type = "button"> X </button>' +
                '</td>' +
                '</tr>';

            $('#newinputTerm').append(newRowAdd);
            k++;
        });
        $("#rowAdderQuestion").click(function () {
            newRowAdd =
                '<tr id="row">' +
                '<td>' +
                '<label for="term ' + l + '">Question</label>' +
                '<input type="text" name="newQuestion ' + l + '" value=""/>' +
                '</td>' +
                '<td>' +
                '<label for="term ' + l + '">Answer</label>' +
                '<input class="large-text-input" type="text" name="newGenericAns ' + l + '" value="" />' +
                '</td>' +
                '<td>' +
                '<button class="btn btn-danger" id = "DeleteRow" type = "button"> X </button>' +
                '</td>' +
                '</tr>';

            $('#newinputQuestion').append(newRowAdd);
            l++;
        });
        $("body").on("click", "#DeleteRow", function () {
            $(this).parents("#row").remove();
        })
    </script>
</body>
</html>
