@page
@model EditNoteModel
@{
    AutomatedEducationProgram.Models.Note note = Model.CurrentNote;
    IEnumerable<AutomatedEducationProgram.Models.VocabularyWord> vocab = Model.Vocab;
    int i = 1;
    int j = 1;
    int contentCount = vocab.Count() + Model.MCQuestions.Count() + Model.TFQuestions.Count() + Model.SAQuestions.Count();
}
<style>
    .large-text-input {
        width: 775px;
    }
</style>
<html>
<head>
    <title>Edit Note</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <form method="post" asp-controller="MyNotes" asp-action="EditNote">
        <label for="title">Note Title</label>
        <input type="text" name="title" value="@note.Title" />
        <label for="description">Note Description</label>
        <input type="text" name="description" value="@note.Description" />
        <label for="publicity">Published: </label>
        @if (note.IsPublic)
        {
            <input type="checkbox" name="publicity" checked value="public"/>
        }
        else
        {
            <input type="checkbox" name="publicity" value="public"/>
        }
        @if (!(vocab == null || vocab.Count() == 0))
        {
            <h2>Vocabulary Terms</h2>
            <table>
                <thead>
                    <tr>
                        <th><h2>Term</h2></th>
                        <th><h2>Definition</h2></th>
                        <th>.</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AutomatedEducationProgram.Models.VocabularyWord word in vocab)
                    {
                        <tr id="row">
                            <td>
                            <label for="term @i">Term</label>
                            <input type="text" name="vocabTerm @word.ID" value="@word.Term" />
                        </td>
                        <td>
                            <label for="term @(i++)">Definition</label>
                            <input class="large-text-input" type="text" name="vocabDef @word.ID" value="@word.Definition" />
                        </td>
                        <td>
                                <button class="btn btn-danger"
                                        id="DeleteRow"
                                        type="button">
                                    X
                                </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div id="tableDiv">
                <div id="newinputTerm">
                </div>
            </div>
            <button id="rowAdderTerm" type="button" class="btn btn-dark">
                <span class="bi bi-plus-square-dotted">
                </span> Add Word
            </button>
            <br />
            <hr />
            <br />
            }

        @if (!(Model.MCQuestions == null || Model.MCQuestions.Count() == 0))
            {
            <h2>Exam Questions</h2>
            <table>
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AutomatedEducationProgram.Models.ExamQuestion question in Model.MCQuestions)
                    {
                        <tr id="row">
                            <td>
                                <input type="text" name="question @question.Id" value="@question.Question" />
                            </td>
                            <td>
                                <label for="A @j"></label>
                                <input type="text" name="ansA @question.Id" value="@question.AnswerA" />
                            </td>
                            <td>
                                <label for="B @j"></label>
                                <input type="text" name="ansB @question.Id" value="@question.AnswerB" />
                            </td>
                            <td>
                                <label for="C @j"></label>
                                <input type="text" name="ansC @question.Id" value="@question.AnswerC" />
                            </td>
                            <td>
                                <label for="D @j"></label>
                                <input type="text" name="ansD @question.Id" value="@question.AnswerD" />
                            </td>
                            <td>
                                <button class="btn btn-danger"
                                id="DeleteRow"
                                type="button">
                                    X
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
        @if (!(Model.SAQuestions == null || Model.SAQuestions.Count() == 0))
        {
            <table>
                <tbody>
                    @foreach (AutomatedEducationProgram.Models.ExamQuestion question in Model.SAQuestions)
                    {
                        <tr id="row">
                            <td>
                                <input type="text" name="question @question.Id" value="@question.Question" />
                            </td>
                            <td>
                                <input class="large-text-input" type="text" name="genericAns @question.Id" value="@question.Answer" />
                            </td>
                            <td>
                                <button class="btn btn-danger"
                                id="DeleteRow"
                                type="button">
                                    X
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
        @if (!(Model.TFQuestions == null || Model.TFQuestions.Count() == 0))
        {

            <table>
                <tbody>
                    @foreach (AutomatedEducationProgram.Models.ExamQuestion question in Model.TFQuestions)
                    {
                        <tr id="row">
                            <td>
                                <input type="text" name="question @question.Id" value="@question.Question" />
                            </td>

                            <td>
                                <input class="large-text-input" type="text" name="genericAns @question.Id" value="@question.Answer" />
                            </td>

                            <td>
                                <button class="btn btn-danger"
                                id="DeleteRow"
                                type="button">
                                    X
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            <div id="tableDiv">
                <div id="newinputQuestion">
                </div>
            </div>
            <button id="rowAdderQuestion" type="button" class="btn btn-dark">
                <span class="bi bi-plus-square-dotted">
                </span> Add Question
            </button>
        <br />
        <br />
        <br />
        <input type="hidden" name="noteId" value=@note.Id />
        <input type="submit" value="Save Changes" class="btn btn-primary" />
    </form>

    <script type="text/javascript">
        let k = 1;
        let l = 1;
        let contentCount = @contentCount;
        $("#rowAdderTerm").click(function () {
            newRowAdd =
                '<tr id="row">' +
                '<td>' +
                '<label for="term ' + k + '">Term</label>' +
                '<input type="text" name="newVocabTerm ' + k + '" value="New Term"/>' +
                '</td>' +
                '<td>' +
                '<label for="term ' + k + '">Definition</label>' +
                '<input class="large-text-input" type="text" name="newVocabDef ' + k + '" value="New Definition" />' +
                '</td>' +
                '<td>' +
                '<button class="btn btn-danger" id = "DeleteRow" type = "button"> X </button>' +
                '</td>' +
                '</tr>';

            $('#newinputTerm').append(newRowAdd);
            k++;
            contentCount++;
        });
        $("#rowAdderQuestion").click(function () {
            newRowAdd =
                '<tr id="row">' +
                '<td>' +
                '<label for="term ' + l + '">Question</label>' +
                '<input type="text" name="newQuestion ' + l + '" value="New Question"/>' +
                '</td>' +
                '<td>' +
                '<label for="term ' + l + '">Answer</label>' +
                '<input class="large-text-input" type="text" name="newGenericAns ' + l + '" value="New Answer" />' +
                '</td>' +
                '<td>' +
                '<button class="btn btn-danger" id = "DeleteRow" type = "button"> X </button>' +
                '</td>' +
                '</tr>';

            $('#newinputQuestion').append(newRowAdd);
            l++;
            contentCount++;
        });
        $("body").on("click", "#DeleteRow", function () {
            if (contentCount > 1) { 
                $(this).parents("#row").remove();
                contentCount--;
            }
        })
    </script>
</body>
</html>
