@page
@model EditNoteModel
@{
    AutomatedEducationProgram.Models.Note note = Model.CurrentNote;
    IEnumerable<AutomatedEducationProgram.Models.VocabularyWord> vocab = Model.Vocab;
    IEnumerable<AutomatedEducationProgram.Models.ExamQuestion> questions = Model.Questions;
    int i = 1;
    int j = 1;
}
<style>
    .large-text-input {
        width: 750px;
    }
</style>
<html>
<head>
    <title>Edit Note</title>
</head>

<body>
    <form method="post" asp-controller="MyNotes" asp-action="EditNote">
        <label for="title">Note Title</label>
        <input type="text" name="title" value="@note.Title" />
        <label for="description">Note Description</label>
        <input type="text" name="description" value="@note.Description" />
        @if (!(vocab == null || vocab.Count() == 0))
        {
            <h2>Vocabulary Terms</h2>
            <table>
                <thead>
                    <tr>
                        <th><h2>Term</h2></th>
                        <th><h2>Definition</h2></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AutomatedEducationProgram.Models.VocabularyWord word in vocab)
                    {
                        <tr>
                            <td>
                            <label for="term @i">Term @i</label>
                            <input type="text" name="vocabTerm @i" value="@word.Term" />
                        </td>
                        <td>
                            <label for="term @i">Definition @i</label>
                            <input class="large-text-input" type="text" name="vocabDef @(i++)" value="@word.Definition" />
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <br />
            <hr />
            <br />
            }

            @if (!(questions == null || questions.Count() == 0))
            {
                <h2>Exam Questions</h2>
                <table>
                    <thead>
                        <tr>
                            <td>Question</td>
                            <td>Answer</td>
                            <!--                    <td>A</td>
                            <td>B</td>
                            <td>C</td>
                            <td>D</td>
                            <td>Explanation</td> -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AutomatedEducationProgram.Models.ExamQuestion question in questions)
                        {
                            <tr>
                                <td>
                                    <label for="question @j">Question @j</label>
                                    <input type="text" name="question @j" value="@question.Question" />
                                </td>
                                <td>
                                    <label for="Answer @j"></label>
                                    <input class="large-text-input" type="text" name="genericAns @j" value="@question.Answer" />
                                </td>
                                <!--            <td>
                                <label for="A @j"></label>
                                <input type="text" name="ansA @j" value="@question.AnswerA" />
                                </td>
                                <td>
                                <label for="B @j"></label>
                                <input type="text" name="ansB @j" value="@question.AnswerB" />
                                </td>
                                <td>
                                <label for="C @j"></label>
                                <input type="text" name="ansC @j" value="@question.AnswerC" />
                                </td>
                                <td>
                                <label for="D @j"></label>
                                <input type="text" name="ansD @j" value="@question.AnswerD" />
                                </td>
                                <td>
                                <label for="explanation @j">Explanation @j</label>
                                <input type="text" name="explanation @(j++)" value="@question.Explanation" />
                                </td> -->
                            </tr>
                        }
                    </tbody>
            </table>
        }
        <input hidden name="noteId" value="@note.Id" />
        <input hidden name="userId" value="@note.UserId" />
        <input type="submit" value="Save Changes" class="btn btn-primary" />
    </form>
</body>
</html>
